* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 40%;
  margin: auto;
  height: 200px;
  background-color: rgb(159, 188, 252);
}

button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(162, 128, 240);
}
button:hover {
  background-color: rgb(124, 71, 248);
}
input {
  font-size: large;
}
#output {
  font-size: 1rem;
}
